name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  setup:
    name: Configuração do Ambiente
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: setup

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Instalar dependências
        run: |
          pip install -r requirements.txt

      - name: Rodar Black (checagem)
        run: black . --check

      - name: Rodar Flake8
        run: flake8 .

      - name: Rodar ISort
        run: isort . --check


  test:
    name: Testes Unitários
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Instalar dependências
        run: |
          pip install -r requirements.txt

      - name: Rodar testes com cobertura
        run: pytest --cov=backend --cov-report=term-missing --cov-fail-under=80
      
      - name: Publicar relatório de cobertura no PR
        uses: romeovs/lcov-reporter-action@v0.2.16
        with:
          lcov-file: coverage.xml 
